extends includes/layout

block content
   article.post
      .post-content
         header
            h1.title
               a(href=url)=page.title
            if page.tags
               each tag in page.tags
                  a(href="")='#' + tag
                  |  &nbsp;
         .entry
            p #{page.description}
            p #{content}
         footer
            if page.author
               a(rel="author", href="/search.html?author="+page['author'])=page.author
            | &nbsp;/&nbsp;
            time(datetime=page.publish.timestamp)=page.publish.formatted
         .clearfix